html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/countries\ in\ the\ world.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    color: black; 
}

.createAccountForm{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
    border: dotted 2px #000000;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

button:hover{
    background-color: #b82cae;
       color: rgb(0, 0, 0);
}

.resultInformation{
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.login-here{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
